@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

form {
  max-width: 600px;
  margin: 10rem auto;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}